
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body
{
    background-size: cover;
    background-position: center;
}

canvas
{
    box-shadow: 10px 10px 5px burlywood ;
border-radius:10px; 
animation-iteration-count: infinite;
animation-name: canvas;
animation-duration: 3s;
}

@keyframes canvas
{
    from {box-shadow: 10px 10px 5px burlywood} 
    to {box-shadow: 10px 10px 5px darkred}
}




